.container img {
    transition: all .5s;
    transform: scale(1);
}

.container img:hover {
    transform: scale(1.5);
    z-index: 3;
}

.projectName {
    position: sticky;
    top: 3px;
    gap: 1rem;
    background: linear-gradient(45deg, var(--background), transparent);
    z-index: 1;
    border-bottom: 1px solid var(--text);
    display: flex;
    justify-content: space-between;
    padding: .3rem 0;
    align-items: center
}

.projectName h4 {
    margin: 0;
    padding: 0;
}

