.container {
    padding-top: 4rem;
    font-size: 1rem;
    line-height: 1.7rem;
}

.title {
    font-size: 3rem;
    line-height: 3rem;
}

@media screen and (min-width: 768px) {
    .container {
        padding-top: 0;
    }

    .title {
        font-size: 5rem;
    }
}

.text {
    padding-top: 1rem;
}
