.container {
    padding-top: 4rem;
    font-size: 1rem;
    line-height: 1.7rem;

    @media screen and (max-width: 768px) {
        padding-top: 0;
    }
}

.title {
    font-size: 3rem;
    line-height: 3rem;

    @media screen and (min-width: 768px) {
        font-size: 5rem;
    }
}

.profileImage {
    border-radius: 5px;
    float: left;
    margin-right: 3rem;
    margin-bottom: 2rem;
    transform: scale(1) rotate(-2deg);
    position: relative;
    top: 1rem;
    transition: all .5s;
    background-size: cover;
}

.profileImage:hover {
    transform: scale(1.1);
}
